<div class="custom_side_menu">
  <ul>
    <li>
      <a href="{{ routes.account_url }}">Account Details</a>
    </li>
    <li>
      <a href="{{ routes.account_addresses_url }}">Address Book</a>
    </li>
    <li>
      <a href="#smile-home">Rewards</a>
    </li>
    <li>
      <a href="/tools/recurring/login/">Subscriptions</a>
    </li>
  </ul>
  <a href="{{ routes.account_logout_url }}" class="custom_btn_link btn--link uppercase">{{ 'layout.customer.log_out' | t }}</a>
</div>